head 
    script(src="/scripts/uploadPage.js") 
body
    h1 Barbers Hill Wall of Champions Administration
    div
    h2 Select an Action
    button#add(onclick="addChampion()" style="background-color: blue; color: white;") Add new champion
    button#list(onclick="listChampions()") List existing champions
